* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  html{
    font-size: 16px;
  }
h1{
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
  color: #4D765D;
}
p{
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
  text-align: center;
  color: #13656B;
  display: inline-block;
}
body {
  background: #CFDEDF;
  font-family: "Roboto";
  border-top: 10px solid #5FC194;
  border-bottom: 10px solid #5FC194;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1em;

}

    input[type="button"]{
      display: none;
    }
    label{
      color: #077D49;
      background: #C1DFD5;
      padding: 10px 25px;
      position: relative;
      font-size: 1.5em;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      font-family: 'Amatic SC', cursive;
      font-size: 1.3em;
      text-align: center;

    }
    label:hover{
      background: rgba(131,122,136,0.5);
    }
    input[type="text"],
    #result {
      color: #077D49;
      background: #C1DFD5;
      padding: 10px 25px;
      display: inline-block;
      position: relative;
      font-size: 1.5em;
      border-radius: 10px;
      cursor: pointer;
      font-family: 'Pacifico', cursive;
      font-size: 1em;
      text-align: center;
    }
    input[type="text"]:hover,
    #result:hover{
      background: rgba(131,122,136,0.5);
      font-family: 'Pacifico', cursive;
      font-size: 1em;
      text-align: center;

    }
.help-bar{
  position: fixed;
  right: 0;
  top: 25%
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}
.icon{
  color: #F4F3EE;
  text-decoration: none;
  padding: 0.7rem;
  padding-right: 1rem;
  display: flex;
  transition: all 0.5s;
  background-color: #64DCB2;
}
.icon-rocket:before{
  background-color: #64DCB2;
}
.icon-facebook2{
  background-color: #2E406E;
}
.icon-youtube{
  background-color: #E83028;
}
.icon-mail2{
  background-color: #5DBBD5;
}
.icon-library{
  background-color: #958562;
}
.icon-key{
  background-color: #956271;
}
.icon-cogs{
  background-color: #5B6264;
}
.icon:first-child{
  border-radius: 1rem 0 0 0;
}
.icon:last-child{
  border-radius: 0 0 0 1rem;
}
.icon:hover{
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}
